{% extends 'bookings/base.html' %}
{% block title %}Movie List{% endblock %}

{% block content %}
<h2 class="mb-4">Available Movies</h2>

<div class="row">
    {% for movie in movies %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">

            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.description }}</p>
            </div>

            <div class="card-footer bg-white border-0">
                <a href="{% url 'book_seat' movie.title %}" class="btn btn-primary w-100">
                    Book Now
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}